<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="text/javascript" src="/static/functions.js" defer></script>
        <title>Menu</title>
    </head>
    <body>

        <header class="flex flexBetween nowrap">
            <button class="block" type="button" onclick="redirectToMainMenu()">Retour</button>
            <div id="errorPopup" class="popup">
                <div class="popup-content">
                    <p id="errorMessage"></p>
                </div>
            </div>

            <h1>Liste des tickets</h1>
        </header>

        <main>
            {{ if .result }}
             <table>

                <thead>
                <tr>
                    <th>ID Ticket</th>
                    <th>Description</th>
                    <th>Date Création</th>
                    <th>Date Cloture</th>
                    <th>Owner</th>
                    <th>Admin</th>
                    <th>Étape</th>
                    <th>Catégorie/Priorité</th>

                    {{ if le .role 2 }}
                    <th>Voir le Ticket</th>
                    {{ end }}
                    <th>Voir la conversation</th>
                    {{ if le .role 2 }}
                        {{ if and (not (eq $.filtre 1)) (not (eq $.filtre 2)) }}
                        <th>Claim le Ticket</th>
                        {{ end }}
                    {{ end }}
                </tr>
                </thead>

                <tbody>
                {{ range .result }}
                <tr>
                    <td>{{ .IdTicket }}</td>
                    <td>{{ .Description }}</td>
                    <td>{{ .DateCreation }}</td>
                    <td>{{ .DateCloture }}</td>
                    <td>{{ .OwnerStr }}</td>
                    <td>{{ .AdminStr }}</td>
                    <td>{{ .EtapeStr }}</td>
                    <td>{{ .CategorieStr }}</td>
                    {{ if le $.role 2 }}
                    <td><button class="marginAuto block" type="button" onclick="redirectToIdList('{{ .IdTicket }}')">Voir</button></td>
                    {{ end }}
                    <td><button class="marginAuto block" type="button" onclick="redirectToConversation('{{ .IdTicket }}')">Conversation</button></td>
                    {{ if le $.role 2 }}
                        {{ if and (not (eq $.filtre 1)) (not (eq $.filtre 2)) }}
                        <td><button class="marginAuto block" type="button" onclick="redirectToClaim('{{ .IdTicket }}')">Claim</button></td>
                        {{ end }}
                    {{ end }}
                </tr>
                {{ end }}
                </tbody>
            </table>
            {{ else }}
            <p class="flex flexCenter">Nothing to show here</p>
            {{ end }}
        </main>

        <footer class="flex flexAround padding20 underline">
            <div>
                Copyright© 2024
            </div>
        </footer>

    </body>
</html>


{{ if .message }}
<script>
    setTimeout(()=>{
        showPopup("{{ .message }}")
    }, 500)

    setTimeout(()=>{
        closePopup()
    }, 5000)

</script>
{{ end }}